<html lang="en">
<head>
  <title>Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css">
 <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
 <link type="text/css" rel="stylesheet" href="/public/css/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js" charset="utf-8"></script>
<script src="/public/js/register.js"></script>
   
<body>
  <div class="topnav">
    <a class="active" href="http://127.0.0.1:3000/register">Register</a>
    <a href="http://127.0.0.1:3000/subscribers">User</a>
  </div>
<div class="container">
  
  <form>
    <div id="legend">
      <legend class="">Register</legend>
    </div>
	<div class="form-group">
      <label for="name">Full Name:</label>
      <input type="text" class="form-control" style = " height : 40px ; width : 500px; "  id="fullname" onfocusout="validateName()" placeholder="Enter full name">
      <span id="infoName"style= "color : red; visibility: hidden;">* Name is required</span>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" style = " height : 40px ; width : 500px; "  id="email" onfocusout="validateEmail()" placeholder="Enter email">
      <span id="infoEmail"style= "color : red; visibility: hidden;">* Email is required</span>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" style = " height : 40px ; width : 500px; "  id="password" onfocusout="validatePass()" placeholder="Enter password">
      <span id="infoPass"style= "color : red; visibility: hidden;">* Password have to enter at least 6 digit! </span>
    </div>
   <div class= "form-group">
	<label for="Choose">Choose File:</label>
  <input type="file" id="image">
  <span id="infoImage"style= "color : red; visibility: hidden;">* Image is required </span>
	</div>
  
  </form>
  <button class="btn btn-primary" id="register" onclick="summit()">Submit</button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header"  style="background-color: yellow;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Info</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>