<!doctype html>
<html lang="en">
  <head>
    <title>subcsribers</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/public/js/subscribers.js"></script>
    <link type="text/css" rel="stylesheet" href="/public/css/main.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.2/js/bootstrap.min.js" charset="utf-8"></script>
  <!--===============================================================================================-->	
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="http://127.0.0.1:3000/register">Register</a>
      <a href="http://127.0.0.1:3000/subscribers">User</a>
    </div>
        <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h2>User <b>Management</b></h2>
        </div>
          <div class="col-12">
          <table class="table table-image" id="showtable">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
              </tr>
          </table>   
          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--===============================================================================================-->
   

   
  </body>
</html>